#bankers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #bankers td, #bankers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #bankers tr:nth-child(even){background-color: #f2f2f2;}
  
  #bankers tr:hover {background-color: #ddd;}
  
  #bankers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(78, 76, 175);
    color: white;
  }